# Exclude a variety of commonly ignored directories.
exclude = [
    "__pycache__",
    ".git",
    ".venv",
    "build",
    "dist",
    "env",
    "migrations",
    "venv",
]

[format]
indent-style = "space" # Indent with spaces
quote-style = "single" # Use single quotes for strings.
skip-magic-trailing-comma = false # Respect magic trailing commas
