{% extends "ui/base.html" %}
{% load ui_tags %}
{% block title %}UNetLab | {{ model_name|title }} > Detail{% endblock title %}
{% block page_title %}{{ model_name|title }} > Detail{% endblock page_title %}
{% block page_body %}
<div class="col-lg-12">
    <div class="card">
        <div class="card-table">
            {% if attrs.title %}
            <div class="card-header">
                <div class="row w-full">
                    <div class="col">
                        <h3 class="card-title mb-0">{{ attrs.title }}</h3>
                        <p class="text-secondary m-0">{{ attrs.description }}</p>
                    </div>
                </div>
            </div>
            {% endif %}
            <div class="card-body">
                {% for field, value in object.items %}
                <div class="mb-3 row">
                    {% with field=attrs.fields|get:field %}
                    <label class="col-3 col-form-label text-uppercase">
                        {% if field and field.verbose_name %}
                            {{ field.verbose_name }}
                        {% else %}
                            {{ field }}
                        {% endif %}
                    </label>
                    <div class="col">
                        {% if field.template_name %}
                            {% include field.template_name %}
                        {% else %}
                            {{ value|safe }}
                        {% endif %}
                        <small id="id_{{ field.name }}_helptext" class="form-hint">
                            {% if field and field.help_text %}
                                {{ field.help_text }}
                            {% endif %}
                        </small>
                    </div>
                    {% endwith %}
                </div>
                {% endfor %}
            </div>

            <div class="card-footer">
                <div class="text-end">
                    {% if permissions.can_delete %}
                        {% url model_name|add:'_delete' pk as delete_url %}
                        {% if delete_url %}
                        <a href="{% url model_name|add:'_delete' pk %}" class="btn">Delete</a>
                        {% endif %}
                    {% endif %}
                    {% if request.GET.back %}
                    <a href="{% url request.GET.back %}" class="btn">Back</a>
                    {% endif %}
                    {% if permissions.can_update %}
                        {% url model_name|add:'_delete' pk as edit_url %}
                        {% if edit_url %}
                        <a href="{% url model_name|add:'_update' pk %}" class="btn btn-primary ms-auto">Edit</a>
                        {% endif %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% block additional_details %}{% endblock additional_details %}
{% endblock page_body %}
