{% extends "ui/base.html" %}
{% load render_table from django_tables2 %}
{% load ui_tags %}
{% load i18n static %}
{% block title %}{{ site_meta.title }} | {{ model_name|title }} > Detail{% endblock title %}
{% block page_title %}{{ model_name|title }} > Detail{% endblock page_title %}
{% block page_body %}
<div class="col-lg-12" data-pk="{{ pk }}" x-data="attributeCrud()">
    <div class="card card-lg">
        <div class="card-body markdown">
            <div class="row align-items-center">
                <div class="col"></div>

                <div class="col-auto">
                    <a class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#attributeModal">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-plus"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M12 5l0 14" /><path d="M5 12l14 0" /></svg>
                        Attribute
                    </a>
                </div>

                <div class="col-auto">
                    <a href="{% url model_name|add:'_delete' pk %}" class="btn">Delete</a>
                </div>
                <div class="col-auto">
                    <a href="{% url model_name|add:'_update' pk %}" class="btn btn-primary">Edit</a>
                </div>
            </div>

            <h1>Event {{ object.record.name }}</h1>
                <div class="mb-3 row">
                    <label class="col-3 col-form-label text-uppercase">{{ object.record|get_object_label:"name" }}</label>
                    <div class="col">{{ object.record|get_object_value:"name" }}</div>
                </div>
                <div class="mb-3 row">
                    <label class="col-3 col-form-label text-uppercase">{{ object.record|get_object_label:"author" }}</label>
                    <div class="col"><a href="{% url 'event_list' %}?user={{ object.record.author.id }}">{{ object.record|get_object_value:"author" }}</a></div>
                </div>
                <div class="mb-3 row">
                    <label class="col-3 col-form-label text-uppercase">{{ object.record|get_object_label:"contributors" }}</label>
                    <div class="col">
                        {% for user in object.record.contributors.all %}
                        <a href="{% url 'event_list' %}?user={{ user.pk }}">{{ user.username }}</a>{% if not forloop.last %}, {% endif %}
                        {% endfor %}
                    </div>
                </div>
                <div class="mb-3 row">
                    <label class="col-3 col-form-label text-uppercase">{{ object.record|get_object_label:"created_at" }}</label>
                    <div class="col">{{ object.record|get_object_value:"created_at" }}</div>
                </div>
                <div class="mb-3 row">
                    <label class="col-3 col-form-label text-uppercase">{{ object.record|get_object_label:"updated_at" }}</label>
                    <div class="col">{{ object.record|get_object_value:"updated_at" }}</div>
                </div>

            <h2>{{ object.record|get_object_label:"description"|title }}</h2>
            {{ object.record|get_object_value:"description"|markdownify|safe }}

            {% if vuln_table.rows %}
            <div class="col-lg-12 mt-5" data-type="vuln">
                {% render_table vuln_table %}
            </div>
            {% endif %}

            {% if ipadd_table.rows %}
            <div class="col-lg-12 mt-5" data-type="ipadd">
                {% render_table ipadd_table %}
            </div>
            {% endif %}

            {% if codesnippet_table.rows %}
            <div class="col-lg-12 mt-5" data-type="codesnippet">
                {% render_table codesnippet_table %}
            </div>
            {% endif %}

            {% if fqdn_table.rows %}
            <div class="col-lg-12 mt-5" data-type="fqdn">
                {% render_table fqdn_table %}
            </div>
            {% endif %}

            {% if hash_table.rows %}
            <div class="col-lg-12 mt-5" data-type="hash">
                {% render_table hash_table %}
            </div>
            {% endif %}

        </div>
    </div>
</div>
{% endblock page_body %}

{% block modal %}
<div class="modal" id="attributeModal" tabindex="-1" x-data="attributeCrud()" data-event_pk="{{ pk }}">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <h5 class="modal-title">New attribute</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <!-- Modal Body -->
            <div class="modal-body">

                <!-- Type -->
                <div class="mb-3">
                    <label class="form-label required">Type</label>
                    <select class="form-select" x-model="attribute_type" @change="initExpirationDefaults()">
                        <option value="">---------</option>
                        <option value="codesnippet">Code Snippet</option>
                        <option value="fqdn">FQDN</option>
                        <option value="hash">Hash</option>
                        <option value="ipadd">IP Address</option>
                        <option value="vuln">Vulnerability</option>
                    </select>
                </div>

                <!-- Template: Code Snippet -->
                <template x-if="attribute_type === 'codesnippet'">
                    <div>
                        <div class="mb-3">
                            <label class="form-label required">Name</label>
                            <input type="text" class="form-control" x-model="attribute_data.codesnippet.name">
                        </div>
                        <div class="mb-3">
                            <label class="form-label required">Language</label>
                            <select class="form-select" x-model="attribute_data.codesnippet.language">
                                <option value="">---------</option>
                                <option value="bash">Bash</option>
                                <option value="cmd">CMD</option>
                                <option value="powershell">PowerShell</option>
                                <option value="python">Python</option>
                            </select>
                        </div>
                        <div class="mb-3">
                            <label class="form-label required">Code</label>
                            <textarea class="form-control" x-model="attribute_data.codesnippet.code"></textarea>
                        </div>
                        <div class="mb-3">
                            <label class="form-label required">Confidence</label>
                            <select class="form-select" x-model="attribute_data.codesnippet.confidence">
                                <option value="">---------</option>
                                <option value="low">Low</option>
                                <option value="medium">Medium</option>
                                <option value="high">High</option>
                            </select>
                        </div>
                        <div class="mb-3">
                            <label class="form-label required">Validation Status</label>
                            <select class="form-select" x-model="attribute_data.codesnippet.validation_status">
                                <option value="">---------</option>
                                <option value="new">New</option>
                                <option value="approved">Approved</option>
                                <option value="suspended">Suspended</option>
                            </select>
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Expiration date</label>
                            <input type="date" class="form-control" x-model="attribute_data.codesnippet.expired_at">
                        </div>
                        <div class="mb-3">
                            <label class="form-label required">Description</label>
                            <textarea class="form-control" rows="10" x-model="attribute_data.codesnippet.description"></textarea>
                        </div>
                    </div>
                </template>

                <!-- Template: FQDN -->
                <template x-if="attribute_type === 'fqdn'">
                    <div>
                        <div class="mb-3">
                            <label class="form-label required">FQDN</label>
                            <input type="text" class="form-control" placeholder="www.example.com" x-model="attribute_data.fqdn.fqdn">
                        </div>
                        <div class="mb-3">
                            <label class="form-label required">Confidence</label>
                            <select class="form-select" x-model="attribute_data.fqdn.confidence">
                                <option value="">---------</option>
                                <option value="low">Low</option>
                                <option value="medium">Medium</option>
                                <option value="high">High</option>
                            </select>
                        </div>
                        <div class="mb-3">
                            <label class="form-label required">Validation Status</label>
                            <select class="form-select" x-model="attribute_data.fqdn.validation_status">
                                <option value="">---------</option>
                                <option value="new">New</option>
                                <option value="approved">Approved</option>
                                <option value="suspended">Suspended</option>
                            </select>
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Expiration date</label>
                            <input type="date" class="form-control" x-model="attribute_data.fqdn.expired_at">
                        </div>
                        <div class="mb-3">
                            <label class="form-label required">Description</label>
                            <textarea class="form-control" rows="10" x-model="attribute_data.fqdn.description"></textarea>
                        </div>
                    </div>
                </template>

                <!-- Template: Hash -->
                <template x-if="attribute_type === 'hash'">
                    <div>
                        <div class="mb-3">
                            <label class="form-label">Filename</label>
                            <input type="text" class="form-control" placeholder="example.exe" x-model="attribute_data.hash.filename">
                        </div>
                        <div class="mb-3">
                            <label class="form-label">MD5</label>
                            <input type="text" class="form-control" placeholder="0ca0950faede682c69fa68e4460c23d9" x-model="attribute_data.hash.md5">
                        </div>
                        <div class="mb-3">
                            <label class="form-label">SHA1</label>
                            <input type="text" class="form-control" placeholder="a0d0d8a7183687e193e9e35ba9a75aa1d66960bb" x-model="attribute_data.hash.sha1">
                        </div>
                        <div class="mb-3">
                            <label class="form-label">SHA256</label>
                            <input type="text" class="form-control" placeholder="e761f48d35267feb8ba361976f1c38d95f982ed1a52d831739b2e13e097c5415" x-model="attribute_data.hash.sha256">
                        </div>
                        <div class="mb-3">
                            <label class="form-label required">Platform</label>
                            <select class="form-select" x-model="attribute_data.hash.platform">
                                <option value="">---------</option>
                                <option value="linux">Linux</option>
                                <option value="macos">MacOS</option>
                                <option value="windows">Windows</option>
                            </select>
                        </div>
                        <div class="mb-3">
                            <label class="form-label">URL</label>
                            <input type="text" class="form-control" placeholder="https://www.example.com/" x-model="attribute_data.hash.url">
                        </div>
                        <div class="mb-3">
                            <label class="form-label required">Confidence</label>
                            <select class="form-select" x-model="attribute_data.hash.confidence">
                                <option value="">---------</option>
                                <option value="low">Low</option>
                                <option value="medium">Medium</option>
                                <option value="high">High</option>
                            </select>
                        </div>
                        <div class="mb-3">
                            <label class="form-label required">Validation Status</label>
                            <select class="form-select" x-model="attribute_data.hash.validation_status">
                                <option value="">---------</option>
                                <option value="new">New</option>
                                <option value="approved">Approved</option>
                                <option value="suspended">Suspended</option>
                            </select>
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Expiration date</label>
                            <input type="date" class="form-control" x-model="attribute_data.hash.expired_at">
                        </div>
                        <div class="mb-3">
                            <label class="form-label required">Description</label>
                            <textarea class="form-control" rows="10" x-model="attribute_data.hash.description"></textarea>
                        </div>
                    </div>
                </template>

                <!-- Template: IP Address -->
                <template x-if="attribute_type === 'ipadd'">
                    <div>
                        <div class="mb-3">
                            <label class="form-label required">IP Address</label>
                            <input type="text" class="form-control" placeholder="169.254.0.1" x-model="attribute_data.ipadd.ip_address">
                        </div>
                        <div class="mb-3">
                            <label class="form-label required">Confidence</label>
                            <select class="form-select" x-model="attribute_data.ipadd.confidence">
                                <option value="">---------</option>
                                <option value="low">Low</option>
                                <option value="medium">Medium</option>
                                <option value="high">High</option>
                            </select>
                        </div>
                        <div class="mb-3">
                            <label class="form-label required">Validation Status</label>
                            <select class="form-select" x-model="attribute_data.ipadd.validation_status">
                                <option value="">---------</option>
                                <option value="new">New</option>
                                <option value="approved">Approved</option>
                                <option value="suspended">Suspended</option>
                            </select>
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Expiration date</label>
                            <input type="date" class="form-control" x-model="attribute_data.ipadd.expired_at">
                        </div>
                        <div class="mb-3">
                            <label class="form-label required">Description</label>
                            <textarea class="form-control" rows="10" x-model="attribute_data.ipadd.description"></textarea>
                        </div>
                    </div>
                </template>

                <!-- Template: Vulnerability -->
                <template x-if="attribute_type === 'vuln'">
                    <div>
                        <div class="mb-3">
                            <label class="form-label required">CVE</label>
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="CVE-XXXX-YYYY" x-model="attribute_data.vuln.cve">
                                <button class="btn btn-primary" :class="{ 'btn-loading': loading }" :disabled="loading" type="button" @click="readCve()">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-cloud-download"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M19 18a3.5 3.5 0 0 0 0 -7h-1a5 4.5 0 0 0 -11 -2a4.6 4.4 0 0 0 -2.1 8.4" /><path d="M12 13l0 9" /><path d="M9 19l3 3l3 -3" /></svg>
                                </button>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label class="form-label required">Name</label>
                            <input type="text" class="form-control" x-model="attribute_data.vuln.name">
                        </div>
                        <div class="mb-3">
                            <label class="form-label required">CVSS</label>
                            <input type="text" class="form-control" x-model="attribute_data.vuln.cvss">
                        </div>
                        <div class="mb-3">
                            <label class="form-label required">Description</label>
                            <textarea class="form-control" rows="10" x-model="attribute_data.vuln.description"></textarea>
                        </div>
                    </div>
                </template>

            </div>

            <!-- Modal Footer -->
            <div class="modal-footer">
                <button type="button" class="btn me-auto" data-bs-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" :class="{ 'btn-loading': loading }" :disabled="loading" data-bs-dismiss="modal" @click="createItem()">Create</button>
            </div>
        </div>
    </div>
</div>

{% endblock modal %}
